// Color
$primary: #ffffff;
$black: #000000;
$gray-400: #edf9ee;
$gray-300: #dedddc;
$gray-200: #ececec;
$gray-100: #f6f6f6;
$yellow-300: #f8b653;
$yellow-200: #e1b067;
$red: #fc0303;
$green: #1ed90e;
$purple: #ae18e2;
$gradient-01: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
$gradient-02: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);

// text color
$text-primary: $primary;
$text-black: $black;
$text-gray-400: $gray-400;
$text-gray-300: $gray-300;
$text-gray-200: $gray-200;
$text-gray-100: $gray-100;
$text-yellow-300: $yellow-300;
$text-yellow-200: $yellow-200;
$text-red: $red;
$text-green: $green;
$text-purple: $purple;
$text-gradient-01: $gradient-01;
$text-gradient-02: $gradient-02;

// background color
$bg-primary: $primary;
$bg-black: $black;
$bg-gray-400: $gray-400;
$bg-gray-300: $gray-300;
$bg-gray-200: $gray-200;
$bg-gray-100: $gray-100;
$bg-yellow-300: $yellow-300;
$bg-yellow-200: $yellow-200;
$bg-red: $red;
$bg-green: $green;
$bg-purple: $purple;
$bg-gradient-01: $gradient-01;
$bg-gradient-02: $gradient-02;

// font size
$fs-1xl: 16px;
$fs-2xl: 20px;
$fs-3xl: 24px;
$fs-4xl: 30px;
$fs-5xl: 40px;

// font weight
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// line height
$lh-1: 19.36px;
$lh-2: 24.2px;
$lh-3: 29.05px;
$lh-4: 30.6px;
$lh-5: 36.31px;
$lh-6: 48.41px;

// font family
$font-family-Inter: "Inter", sans-serif;
