.footer {
  margin-top: 500px;
  .footer-top {
    padding: 30px 0;
    background: $bg-gray-100;
    .container {
      .row {
        gap: 30px;
        display: flex;
        @media screen and (max-width: 480px) {
          flex-direction: column;
        }
        .col {
          @extend .footer-item;
          width: calc(100% / 3);
          border-right: 1px solid $text-gray-300;
          @media screen and (max-width: 480px) {
            width: 100%;
            text-align: center;
            border-right: none;
          }
        }
      }
    }
  }
  .footer-botom {
    padding: 30px 0;
    background: $bg-gray-200;
    .container {
      .row {
        gap: 30px;
        display: flex;
        @media screen and (max-width: 480px) {
          flex-direction: column;
        }
        .col {
          @extend .footer-item;
          width: calc(100% / 3);
          border-right: 1px solid $text-gray-300;
          @media screen and (max-width: 480px) {
            width: 100%;
            text-align: center;
            border-right: none;
          }
        }
      }
    }
  }
}
