.register {
  padding: 100px 0;
  .container {
    .title {
      @include textStyle($fs-5xl, $fw-400, $text-black);
      line-height: $lh-6;
      margin-bottom: 50px;
      text-align: center;
    }
    #form-register {
      .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .col {
          width: calc(50% - 10px);
          display: flex;
          align-items: center;
          .input-control {
            @extend .input;
          }
          .lable-radio {
            @include textStyle($fs-4xl, $fw-400, $text-black);
            margin-right: 20px;
          }
          .input-radio {
            width: 30px;
            height: 30px;
          }
          .thongBao {
            color: $text-red;
          }
        }
      }
      .submit {
        width: 50%;
        margin-top: 10px;
        .btn-submit {
          @extend .button;
          @include textStyle($fs-4xl, $fw-400, $text-primary);
          line-height: $lh-5;
          background: $bg-purple;
          padding: 5px 20px;
        }
      }
    }
  }
}
